NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS25 ;
# Define clock period for 50 MHz oscillator
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;
NET "ROT_A" LOC = "K18" | IOSTANDARD = LVTTL | PULLUP ;
NET "ROT_B" LOC = "G18" | IOSTANDARD = LVTTL | PULLUP ;
NET "RST" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

# These four connections are shared with the J1 6-pin accessory header
#NET "FX2_IO<1>" LOC = "B4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<2>" LOC = "A4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<3>" LOC = "D5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<4>" LOC = "C5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
# These four connections are shared with the J2 6-pin accessory header
#NET "FX2_IO<5>" LOC = "A6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<6>" LOC = "B6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<7>" LOC = "E7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<8>" LOC = "F7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
# These four connections are shared with the J4 6-pin accessory header
#NET "FX2_IO<9>" LOC = "D7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<10>" LOC = "C7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<11>" LOC = "F8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<12>" LOC = "E8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
# The discrete LEDs are shared with the following 8 FX2 connections
#NET "FX2_IO<13>" LOC = "F9" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<14>" LOC = "E9" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<15>" LOC = "D11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<16>" LOC = "C11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<17>" LOC = "F11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<18>" LOC = "E11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<19>" LOC = "E12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<20>" LOC = "F12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "FX2_IO<21>" LOC = "A13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<22>" LOC = "B13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<23>" LOC = "A14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<24>" LOC = "B14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<25>" LOC = "C14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<26>" LOC = "D14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<27>" LOC = "A16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<28>" LOC = "B16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "FX2_IO<29>" LOC = "E13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<30>" LOC = "C4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<31>" LOC = "B11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<32>" LOC = "A11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<33>" LOC = "A8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<34>" LOC = "G9" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IP<35>" LOC = "D12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IP<36>" LOC = "C12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IP<37>" LOC = "A15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IP<38>" LOC = "B15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IO<39>" LOC = "C3" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "FX2_IP<40>" LOC = "C15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

NET "CLK10M_P" LOC = "A4" ;
NET "CLK10M_N" LOC = "B4"  ;
NET "PPS_P" LOC = "C5" ;
NET "PPS_N" LOC = "D5" ;
NET "L1_CAMERA_T_P" LOC = "B6" | SLEW = FAST | DRIVE =8;
NET "L1_CAMERA_T_N" LOC = "A6" | SLEW = FAST | DRIVE =8;
NET "EVT_TRG_P" LOC = "F7" | SLEW = FAST | DRIVE =8;
NET "EVT_TRG_N" LOC = "E7" | SLEW = FAST | DRIVE =8;
#NET "EVT_TRG_P" LOC = "C7" ;
#NET "EVT_TRG_N" LOC = "D7" ;
NET "BUSY_P" LOC = "E8" ;
NET "BUSY_N" LOC = "F8" ;

#NET "Ext_TRIGGER" LOC = "G9" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;
NET "Ext_TRIGGER" LOC = "A10" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;

NET "SW[0]" LOC = "L13" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "SW[1]" LOC = "L14" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "SW[2]" LOC = "H18" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "SW[3]" LOC = "N17" | IOSTANDARD = LVCMOS25 | PULLUP ;

#NET "LED[7]" LOC = "F9" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
#NET "LED[6]" LOC = "E9" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
#NET "LED[5]" LOC = "D11" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
#NET "LED[4]" LOC = "C11" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
#NET "LED[3]" LOC = "F11" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[2]" LOC = "E11" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[1]" LOC = "E12" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;
NET "LED[0]" LOC = "F12" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8 ;